@model TripCoordination.Data.Models.Domain.Town
@{
    ViewData["Title"] = "Create Town";
}

<div class="page-title p-3 label-control">
    <h3>Create New Town</h3>
</div>
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-container-lose d-flex align-items-center alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle-fill me-2"></i>
        <div>
            @TempData["Error"]
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="form-container p-3">

    <form asp-action="CreateTown" method="post">

        <input type="hidden" name="Country" value="South Africa" />

        <div class="mb-3">
            <label asp-for="Name" class="label-control">Name</label>
            <input asp-for="Name" type="text" class="input-control">

            <span class="text-danger" asp-validation-for="Name"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Region" class="label-control">
                Region
            </label>
            <input asp-for="Region" type="text" class="input-control">
            <span class="text-danger" asp-validation-for="Region"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Price" class="label-control">Price</label>
            <input asp-for="Price" type="text" class="input-control">

            <span class="text-danger" asp-validation-for="Price"></span>
        </div>

        

        <div class="text-center">
            <button type="submit" class="btn btn-primary w-50">Save</button>
        </div>

    </form>
</div>


