@model TripCoordination.Data.Models.Domain.Town
@{
    ViewData["Title"] = "Create Town";
}

<div class="page-title p-3 mt-3 label-control">
    <h3>Create New Town</h3>
</div>

<div class="form-container p-3">
    @* <a href="/Admin/ManageTowns" class="my-2 btn btn-primary">Display All</a> *@

    <form asp-action="CreateTown" method="post">

        <div class="mb-3">
            <label asp-for="Name" class="label-control">Name</label>
            <input asp-for="Name" type="text" class="input-control">

            <span class="text-danger" asp-validation-for="Name"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Region" class="label-control">
                Region
            </label>
            <input asp-for="Region" type="text" class="input-control">
            <span class="text-danger" asp-validation-for="Region"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Price" class="label-control">Price</label>
            <input asp-for="Price" type="text" class="input-control">

            <span class="text-danger" asp-validation-for="Price"></span>
        </div>

        @if (TempData["msg"] != null)
        {
            <div class="mb-3">
                @TempData["msg"]
            </div>
        }

        <div class="text-center">
            <button type="submit" class="btn btn-primary w-50">Save</button>
        </div>

    </form>
</div>


