@model IEnumerable<TripCoordination.Data.Models.Domain.Town>
@{
    ViewData["Title"] = "Manage Trips";
}


<div class="container ">
    <h1>List of Towns</h1>


    <div class="my-2">
       <div class="text-end">
            <a asp-action="CreateTown" class="btn btn-primary my-2">Create new town</a>
       </div>
       
       <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Region</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var town in Model)
                    {
                        <tr>
                            <td>@town.Name</td>
                            <td>@town.Region</td>
                            <td>@town.Price</td>
                            <td>
                                <a href="/Admin/EditTown?townID=@town.TownID" class="btn btn-success">Edit</a>
                                <a href="/Admin/DeleteTown?townID=@town.TownID" class="btn btn-danger" onclick="return window.confirm('Are you sure to delete this record?')">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
       </div>
    </div>
</div> 
