@model IEnumerable<TripCoordination.Data.Models.Domain.User>
@{
    ViewData["Title"] = "DisplayAll";
}

<h1>List of Users</h1>


<div class="my-2">
    @* <a href="/Person/Add" class="btn btn-info my-2">Add more</a> *@

    <a asp-action="Add" class="btn btn-info my-2">Add more</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@user.PasswordHash</td>
                    <td>
                        <a href="/Person/Edit?id=@user.UserID" class="btn btn-success">Edit</a>
                        <a href="/Person/Delete?id=@user.UserID" class="btn btn-danger" onclick="return window.confirm('Are you sure to delete this record?')">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
