@model TripCoordination.Common.ViewModel.CreateRouteViewModel
@{
    ViewData["Title"] = "Edit Route";
}

<div class="page-title p-3 mt-3 label-control">
    <h3>Edit Trip Route</h3>
</div>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger d-flex alert-container-lose alert-dismissible fade show" role="alert">
        <i class="bi bi-exclamation-triangle-fill me-2"></i>
        <div>
            @TempData["Error"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}

<div class="form-container p-3">
    <div class="text-end">
        <a href="/Route/ViewRoutes" class="my-2 btn btn-primary w-auto">Go Back</a>
    </div>
    
    <form asp-action="EditRoute" method="post">

        <input asp-for="RouteID" type="hidden" class="form-control">

        <div class="mb-3">
            <label asp-for="Description" class="label-control">Route Description</label>
            <input asp-for="Description" type="text" class="input-control">

            <span class="text-danger" asp-validation-for="Description"></span>
        </div>

        <div class="mb-3">
            <label asp-for="FromLocation" class="label-control">From</label>
            <input asp-for="FromLocation" type="text" class="input-control">
            <span class="text-danger" asp-validation-for="FromLocation"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ToLocation" class="label-control">To</label>
            <input asp-for="ToLocation" type="text" class="input-control">
            <span class="text-danger" asp-validation-for="ToLocation"></span>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary w-50">Save</button>
        </div>

    </form>

</div>