@model TripCoordination.Data.Models.Domain.Profile

<div class="mt-5 background-container">

    <div class="">
        <form class="m-2 p-4" action="EditProfile" method="post">

            <div class="col-md-2 mb-3">
                <label asp-for="Title" class="form-label">Title</label>
                <select asp-for="Title" class="form-control">
                    <option value="Mr">Mr</option>
                    <option value="Mrs">Mrs</option>
                    <option value="Ms">Miss</option>
                    <option value="Dr">Doctor</option>
                </select>
                <span class="text-danger" asp-validation-for="Title"></span>
            </div>

            <div class="col-md-4 mb-3">
                <label asp-for="Name" class="form-label">First Name</label>
                <input asp-for="Name" type="text" class="form-control" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>

            <div class="col-md-4 mb-3">
                <label asp-for="Surname" class="form-label">
                    Last Name
                </label>
                <input asp-for="Surname" type="text" class="form-control">
                <span class="text-danger" asp-validation-for="Surname"></span>
            </div>

            <div class="col-md-4 mb-3">
                <label asp-for="Email" class="form-label">
                    Email
                </label>
                <input asp-for="Email" type="email" class="form-control">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>

            <div class="col-md-4 mb-3">
                <label asp-for="PhoneNumber" class="form-label">
                    Cell Phone
                </label>
                <input asp-for="PhoneNumber" type="number" class="form-control">
                <span class="text-danger" asp-validation-for="PhoneNumber"></span>
            </div>

            <div class="col-md-4 mb-3">
                <label asp-for="ResidenceID" class="form-label">Residence</label>
                <select class="form-control" asp-for="ResidenceID">
                    <option value="1">Metro rez Southern Life</option>
                    <option value="2">South Point 85</option>
                    <option value="3">Metro Rez Tebro</option>
                    <option value="4">Metro Rez FNB</option>
                    <option value="6">Metro Rez Mr Price</option>

                </select>
                <span class="text-danger" asp-validation-for="ResidenceID"></span>
            </div>

            <div class="col-md-4 mb-3">
                <label asp-for="DateOfBirth" class="form-label">
                    Date Of Birth
                </label>
                <input asp-for="DateOfBirth" type="date" class="form-control">
                <span class="text-danger" asp-validation-for="DateOfBirth"></span>
            </div>

            <div class="col-md-4 mb-3">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>

    <ul class="navbar-nav">
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage Profile</a>
        </li>
    </ul>

</div>