:root {
    /* Define your colors (using HEX without the alpha suffix for simplicity) */
    --black-olive: #3f3f37;
    --dutch-white: #d6d6b1;
    --drab-dark-brown: #494331;
    --battleship-gray: #878472;
    --flame: #de541e;
    /* Example gradients using the defined colors */
    --gradient-top: linear-gradient(0deg, var(--black-olive), var(--dutch-white), var(--drab-dark-brown), var(--battleship-gray), var(--flame));
    --gradient-right: linear-gradient(90deg, var(--black-olive), var(--dutch-white), var(--drab-dark-brown), var(--battleship-gray), var(--flame));
    --gradient-bottom: linear-gradient(180deg, var(--black-olive), var(--dutch-white), var(--drab-dark-brown), var(--battleship-gray), var(--flame));
    --gradient-left: linear-gradient(270deg, var(--black-olive), var(--dutch-white), var(--drab-dark-brown), var(--battleship-gray), var(--flame));
    /* You can define additional gradient variables as needed */
}

.background-container {
    --gradient-right: linear-gradient(90deg, var(--dutch-white), var(--battleship-gray));
    --flame: #de541e;
    background: var(--gradient-right);
    color: var(--flame)
}

/*body {
    background-color: var(--dutch-white);
    color: var(--black-olive);
}*/
/* Navbar styling */
/*.navbar {
    background-color: var(--drab-dark-brown);
}
*/
/* Navbar link styling */
.nav-link {
    color: var(--battleship-gray);
}

    .nav-link.active,
    .nav-link:hover {
        color: var(--flame);
        background-color: var(--gradient-top); /* Example usage of gradient */
    }

/* Footer styling */
footer {
    --drab-dark-brown: #494331;
    background-color: var(--drab-dark-brown);
    color: var(--dutch-white);
}

/* Button customization */
.btn-primary {
    background-color: var(--flame);
    border-color: var(--flame);
}

    .btn-primary:hover {
        background-color: var(--battleship-gray);
        border-color: var(--battleship-gray);
    }

@media (max-width: 1199px) {
    .menu {
        z-index: 99;
       /* display: none;
        left: -250px;*/
        color: var(--flame);
        Background: blue;
    }

}

.layout-main {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Login Form styling */
.loginBody {
    --flame: #de541e;
    --gradient-right: linear-gradient(90deg, var(--dutch-white), var(--battleship-gray));
    background: var(--gradient-right);
}

.bg-container .social-icons a {
    display: inline-flex;
    padding: 10px;
    border: 2px solid var(--drab-dark-brown);
    border-radius: 8px;
    font-size: 24px;
    color: var(--flame);
    text-decoration: none;
    margin: 0 6px;
}

    .bg-container .social-icons a:hover {
        --flame: #de541e;
        background-color: var(--drab-dark-brown);
    }



.bg-container .bg-light{
    background: var(--dutch-white);
}

