@model IEnumerable<TripCoordination.ViewModel.TripListingViewModelUI>
@{
    ViewData["Title"] = "Available Trips";
}

@if (!Model.Any())
{
    <div class="alert alert-info mt-3">
        No trips available at the moment. Please check back later.
    </div>
}
else
{

    <div class="row justify-content-center mt-3">
        @foreach (var tripListing in Model)
        {
            <div class="col-md-8 mb-4">
                <div class="card-container">
                    <div class="card-body">
                        <h5 class="card-title">Organizer: @tripListing.CreatorName </h5>
                        <p class="card-text">
                            <strong>Date: </strong>@tripListing.DepartureDate.ToLongDateString()<br />
                            <strong>Destination: </strong>@tripListing.DestinationName<br />
                            <strong>Seats Available: @tripListing.Seats</strong>
                        </p>
                    </div>
                    <div class="card-footer text-center">    
                        <a href="/Trip/TripDetails?tripID=@tripListing.TripID&townID=@tripListing.DestinationID" class=" btn btn-primary w-25">Join Trip</a>
                    </div>
                </div>
            </div>
        }
    </div>
}