@using Microsoft.AspNetCore.Identity
@using TripCoordination.Data.Models.Domain
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trip Coordination</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <!-- DataTables Buttons CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css" />

    @* <link href="~/lib/SimpleDataTables/style.css" rel="stylesheet" /> *@
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="d-flex flex-column min-vh-100 body">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-xl navbar-dark">
        <div class="container-fluid">
            <div class="d-flex align-items-center">
                @if (SignInManager.IsSignedIn(User) && (ViewData["HideSidebarToggle"] as bool? != true))
                {
                    <!-- Sidebar Toggle -->
                    <button class="btn btn-sm btn-flame d-xl-none p-0 me-1 fs-2 navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
                        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle sidebar">
                        <i class="navbar-toggler-icon"></i>
                    </button>
                }
                <!-- Brand -->
                <a asp-action="Index" asp-controller="Home" class="navbar-brand m-0">
                    <span class="fw-bold">UniTrips</span>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="bi bi-list"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                   
                    
                </ul>
                <partial name="_LoginPartial" /> 
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    @if (ViewData["ShowSidebar"] != null && (bool)ViewData["ShowSidebar"] && SignInManager.IsSignedIn(User))
    {
        <div class="d-flex flex-row min-vh-100">
         
             <div class="collapse collapse-horizontal sidebar-wrapper d-xl-block sidebar" id="sidebarMenu">
               <div>
                   @await Html.PartialAsync("_Sidebar")
               </div>
            </div>

            <main class="flex-grow-1 p-3 overflow-auto">
                @RenderBody()
            </main>
            
        </div>
        
    }
    else
    {
        <main class="flex-grow-1 container-fluid my-4">
            @RenderBody()
        </main>
    }
   
    <!-- Footer -->
    <footer class="footer py-3 mt-auto">
        <div class="container text-center">
            <span >&copy; @DateTime.Now.Year - Trip Coordination</span>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Charts.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- jQuery (Select2 dependency) also used for dataTables-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- jquery Datatable -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <!-- Buttons Scripts -->
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
