<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewData["Title"] -Trip Coordination</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link href="~/lib/bootstrap-icons/bootstrap-icons.min.css" rel="stylesheet">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body class="loginBody container">
        <main role="main" class="px-1">
              @RenderBody();
        </main>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
