@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
  
     <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle"></i>
                @UserManager.GetUserName(User)
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
                @if (User.IsInRole("Admin"))
                {
                    <li><a id="manage" class="dropdown-item" asp-controller="Admin" asp-action="AdminDashboard" title="Dashboard">Dashboard</a></li>
                }
                else if(User.IsInRole("Organizer"))
                {
                    <li><a id="manage" class="dropdown-item" asp-controller="TripCreator" asp-action="OrganizerDashboard" title="Dashboard">Dashboard</a></li>
                }
                else if(User.IsInRole("Student"))
                {
                    <li><a id="manage" class="dropdown-item" asp-controller="Student" asp-action="StudentDashboard" title="Dashboard">Dashboard</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a id="manage" class="dropdown-item" asp-controller="Student" asp-action="MyTrips" title="My Trips">My Trips</a></li>
                }
                <li><hr class="dropdown-divider"></li>
                <li><a id="manage" class="dropdown-item" asp-controller="Profile" asp-action="ViewProfile" title="Manage">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form id="logoutForm" class="form-inline dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
                    </form>
                </li>
          </ul>
     </li>

}
else
{
    <li class="nav-item">
        <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
