@* _Sidebar.cshtml *@

@using Microsoft.AspNetCore.Identity
@using TripCoordination.Data.Models.Domain
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="d-flex flex-column flex-shrink-0 p-3 justify-content-between border-end side-menu" style="width: 250px;">
       @*  <h5 class="mb-3">Dashboard</h5> *@
        <ul class="nav nav-pills flex-column mb-auto sidebar-nav" id="sidebar-nav">
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Admin" asp-action="AdminDashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Trip" asp-action="CreateTrip">Create Trip</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Admin" asp-action="ManageTrips">Trips</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Admin" asp-action="ManageResidences">Residences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Admin" asp-action="ManageTowns">Towns</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Route" asp-action="ViewRoutes">Routes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" asp-controller="Home" asp-action="Index" data-bs-target="#requests-nav" data-bs-toggle="collapse">
                        <span>Requests</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="requests-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                        <li>
                            <a asp-controller="RouteRequest" asp-action="CreateRouteRequest">Request Route</a>
                        </li>
                        <li>
                            <a asp-controller="TripRequest" asp-action="CreateRequest">Request Trip</a>
                        </li>
                        <li>
                            <a asp-controller="TripRequest" asp-action="ViewRequest">Trip Requests</a>
                        </li>
                        <li>
                            <a asp-controller="RouteRequest" asp-action="ViewRouteRequests">Route Requests</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="User" asp-action="ViewUsers">Users</a>
                </li>
            }
            else if (User.IsInRole("Organizer"))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="TripCreator" asp-action="OrganizerDashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="TripCreator" asp-action="MyTrips">My Trips</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Trip" asp-action="CreateTrip">Create Trip</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" asp-controller="Home" asp-action="Index" data-bs-target="#requests-nav" data-bs-toggle="collapse">
                        <span>Requests</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="requests-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                        <li>
                            <a asp-controller="RouteRequest" asp-action="CreateRouteRequest">Request Routes</a>
                        </li>
                        <li>
                            <a asp-controller="TripRequest" asp-action="CreateRequest">Request Trip</a>
                        </li>
                        <li>
                            <a asp-controller="TripRequest" asp-action="ViewRequest">Trip Requests</a>
                        </li>
                        <li>
                            <a asp-controller="RouteRequest" asp-action="MyRouteRequests">My Route Requests</a>
                        </li>
                    </ul>
                </li>
            }
            else if (User.IsInRole("Student"))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Student" asp-action="StudentDashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Student" asp-action="MyTrips">My Trips</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Find Trips</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" asp-controller="Home" asp-action="Index" data-bs-target="#requests-nav" data-bs-toggle="collapse">
                        <span>Requests</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="requests-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                        <li>
                            <a asp-controller="RouteRequest" asp-action="CreateRouteRequest">Request Routes</a>
                        </li>
                        <li>
                            <a asp-controller="TripRequest" asp-action="CreateRequest">Request Trip</a>
                        </li>
                        <li>
                            <a asp-controller="TripRequest" asp-action="ViewRequest">My Trip Requests</a>
                        </li>
                        <li>
                            <a asp-controller="RouteRequest" asp-action="MyRouteRequests">My Route Requests</a>
                        </li>
                    </ul>
                </li>
            }
            else if (User.IsInRole("User"))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Student" asp-action="UserDashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Trip" asp-action="MyTrips">My Trips</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Trips</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Requests</a>
                </li>
            }
         
        </ul>
    </div>
}
