@* _Sidebar.cshtml *@

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="d-flex flex-column flex-shrink-0 p-3 justify-content-between border-end side-menu" style="width: 250px;">
        @* <h5 class="mb-3">Dashboard</h5> *@
        <ul class="nav nav-pills flex-column mb-auto">
            @if (User.IsInRole("Admin"))
            {
                <li class= "nav-item">
                    <a class="nav-link" asp-controller="Admin" asp-action="AdminDashboard">Dashboard black-olive</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Trip" asp-action="CreateTrip">Create Trip dutch-white</a>
                </li>
                <li class="nav-item ColorThree">
                    <a class="nav-link" asp-controller="Admin" asp-action="ManageTrips">Trips battleship-gray</a>
                </li>
                <li class="nav-item ColorFour">
                    <a class="nav-link" asp-controller="Admin" asp-action="ManageResidences">Residences drab-dark-brown</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Admin" asp-action="ManageUsers">Manage Users</a>
                </li>
            }
            else if (User.IsInRole("Organizer"))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="TripCreator" asp-action="OrganizerDashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Trip" asp-action="MyTrips">My Trips</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Trip" asp-action="Create">Create Trip</a>
                </li>
            }
         
        </ul>
        <div class="">
            <a id="manage" class="btn btn-primary w-100 mb-3" asp-controller="Profile" asp-action="CompleteProfile" title="Manage">Profile</a>
            <form id="logoutForm" class="" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="btn btn-primary w-100">Log Out</button>
            </form>
        </div>
    </div>
}
